<!DOCTYPE html>
<html lang="en">
<head>

    <a href="/contact"></a>

    <a href="/Our Services"></a>
    <link rel="stylesheet" href="./Css/styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <ul>

            <li><a href="/home">Home page</a></li>
            <li><a href="/our-Services">Our Services</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
            
          </ul>
        </nav>
        <div class="container">
            <h3> Food Delevery</h3>
            <img src="https://img.freepik.com/vecteurs-libre/personnel-livraison-ride-motos-concept-magasinage_1150-34879.jpg?size=626&ext=jpg&ga=GA1.1.1292351815.1709942400&semt=ais" alt="Description de votre image">
        </div>
</body>
</html>