<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./Css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <ul>

            <li><a href="/home">Home page</a></li>
            <li><a href="/our-Services">our-Services</a></li>
            <li><a href="/contact-us">Contact-us</a></li>
            
          </ul>
        </nav>
        <div class="container2">
            <h1>Menu de Sandwichs Tunisiens</h1>
            <div class="sandwiches">
                <div class="sandwich">
                    <h2>Mlaoui</h2>
                    <p>Mlaoui, Salade, Tomates, Olives, Hrissa, Poivrons grillés</p>
                </div>
                <div class="sandwich">
                    <h2>escalpoe</h2>
                    <p>Pain Tunisien, escalpoe, Salade, Tomates</p>
                </div>
                <div class="soup">
                    <h2>chorba</h2>
                    <p> chorba, Tomates, Oignons, Olives</p>
                </div>
            </div>
        </div>
</body>
</body>
</html>